/* ブラウザで設定されているスタイルのリセット・共通設定 */
/* 消さないでください */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
p,
ul,
li,
form,
input,
textarea,
select,
button {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  list-style: none;
}
/* スタイルのリセット終了 */
.Dashboard {
  display: flex;
  height: 100vh;
}

/* ここからコード開始*/
body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
}

.header {
  background-color: rgba(74, 103, 65, 0.75);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left,
.header-right {
  flex: 1;
}

.header-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header-right {
  animation: zoomIn 1s ease-out;
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.sns {
  margin: 10px 20px;
}

.sns i {
  font-size: 30px;
  padding: 0px 10px;
  margin: 0px 10px;
  color: #2d2926;
}

.sns :hover {
  color: #f9f7f2;
}

.header-link {
  margin: 10px 0px;
}

.header h1 {
  margin: 0px 10px;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #2d2926;
}

.header h1 {
  animation: zoomIn 1s ease-out;
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.header img {
  width: 10%;
}

.header img {
  animation: zoomIn 1s ease-out;
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.header ul {
  margin: 0px 10px;
}

.header li {
  float: left;
  padding: 5px 5px;
  margin: 5px 5px;
  font-size: 20px;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;
}

.header li :hover {
  color: white;
}

.header a {
  text-decoration: none;
  color: #2d2926;
}

.sns {
  display: block;
}

.menu {
  display: none;
}

.menu-checkbox {
  display: none;
}

.main {
  background-color: #f9f7f2;
}

.main-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.textbox {
  position: relative;
  margin: 50px 30px;
  text-align: center;
  border: 3px solid #2d2926;
  border-radius: 12px;
  box-shadow: 15px 15px rgba(74, 103, 65, 0.75);
  height: 570px;
  justify-content: space-between;
}

.textbox {
  opacity: 0;
  animation: feadIn 1s ease-out forwards;
}

@keyframes feadIn {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.english {
  font-size: 50px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #2d2926;
}

.russian {
  font-size: 50px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #2d2926;
}

.kyrgyz {
  font-size: 50px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #2d2926;
}

.japanese {
  margin: 20px 0px;
  font-size: 20px;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #2d2926;
}

.text-eng {
  font-size: 20px;
  margin: 10px 10px;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #2d2926;
  font-weight: bold;
}

.text-ru {
  font-size: 25px;
  margin: 10px 10px;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  color: #2d2926;
}

.text-kyr {
  font-size: 30px;
  margin: 10px 10px;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #2d2926;
  font-weight: bold;
}

.music {
  margin: 50px 30px;
}

.music p {
  font-size: 20px;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #2d2926;
  font-weight: bold;
}

.music i {
  display: block;
  font-size: 30px;
  color: #2d2926;
  text-decoration: none;
  margin: 20px 20px;
}

.music a {
  font-size: 20px;
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #2d2926;
}

.music i:hover {
  color: rgba(74, 103, 65, 0.75);
}

.link-eng {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #2d2926;
}

.link-ru {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #2d2926;
}

.link-kyr {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #2d2926;
}

.card {
  position: absolute;
  font-size: 180px;
  bottom: -10px;
  right: 0px;
  color: rgba(74, 103, 65, 0.2);
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
}
